:root {
    /* BRAND COLORS */
    --color-primary: #FF7A00;
    --color-secondary: #FFA800;
    --color-tertiary: #FF5500;

    /* BACKGROUND COLORS */
    --bg-body: #0A0A0C;
    --bg-surface: #131315;
    --bg-card: #201F21;
    --bg-card-hover: #2A2A2C;

    /* TEXT COLORS */
    --text-primary: #F5F5F5;
    --text-secondary: #B8B6B8;
    --text-muted: #858287;
    --text-inverted: #0A0A0C;

    /* ACCENT / UI COLORS */
    --accent-soft: #FFB68B;
    --accent-light: #FFD7C2;
    --accent-dark: #C94F00;

    /* TYPOGRAPHY */
    --font-headline: "Space Grotesk", sans-serif;
    --font-body: "Geist", sans-serif;
    --font-label: "JetBrains Mono", monospace;
}
/* Universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}
/* Footer */
footer{
    background-color: rgb(0, 0, 6);
    width: 100%;
    height: auto;
    padding-top: 100px;
}
.footer-container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-body);
    font-size: 12px;
}
.footer-tag p{
    display: flex;
    align-items: center;
}
.footer-tag p .blink{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0px 10px;
    background-color: var(--accent-soft);
    animation:blink 1s ease-in-out infinite;
    border-radius: 5px;
}
.footer-container ul{
    list-style: none;
}
.footer-container .box{
    width: 20%;
    padding: 0px 30px;
    color: var(--accent-light);
}
.footer-container .box:nth-child(1){
    width: 40%;
}

.footer-container .box h3{
    padding: 10px 0px;
    color: var(--color-tertiary);
}
.footer-container .box:nth-child(1) h3{
    color: white;
}
.footer-container .box p,
.footer-container .box ul{
    padding: 10px 0px;
    line-height: 20px;
}
.copyright-container{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    font-family: var(--font-body);
    color: var(--accent-light);
    font-size: 12px;
    padding: 30px;
    border-top: solid 1px rgba(255, 181, 111, 0.356);
}
@media (max-width:575.99px) {
    /* Footer */
    .footer-container{
        flex-direction:column;
    }
    .footer-container .box{
        width: 100%;
    }
    .footer-container .box:nth-child(1){
        width: 100%;
    }
    .copyright-container{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        text-align: center;
    }
}